body.debug .container,
body.debug .container-fluid {
    outline: 2px double blue;
    outline-offset: -2px;
}

body.debug .row {
    outline: 2px dashed red;
    outline-offset: -2px;
}

body.debug [class*="col-"] {
    outline: 2px dotted forestgreen;
    outline-offset: -3px;
}

body {
    background-color: rgb(21, 13, 45);
    font-size: larger;
}

button {
    font-family: 'Laila', sans-serif;
    height: 20vh;
    border-radius: 8px;
    background-color: rgba(215, 74, 46, 0.674);
    color: aliceblue;
}

.text-special {
    font-family: 'Vollkorn', serif;
    color: aliceblue;
}